<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/seminario</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password"/>
    <property name="hibernate.current_session_context_class">org.hibernate.context.ThreadLocalSessionContext</property>
    <mapping resource="Modelo/Listasrepuestos.hbm.xml"/>
    <mapping resource="Modelo/Tiposcalidad.hbm.xml"/>
    <mapping resource="Modelo/Presupuestos.hbm.xml"/>
    <mapping resource="Modelo/Ordenesrecepcion.hbm.xml"/>
    <mapping resource="Modelo/Tiposrepuesto.hbm.xml"/>
    <mapping resource="Modelo/Tiposoperario.hbm.xml"/>
    <mapping resource="Modelo/Terceros.hbm.xml"/>
    <mapping resource="Modelo/Repuestos.hbm.xml"/>
    <mapping resource="Modelo/Ordenesreparacion.hbm.xml"/>
    <mapping resource="Modelo/Operarios.hbm.xml"/>
    <mapping resource="Modelo/Estadosreparacion.hbm.xml"/>
    <mapping resource="Modelo/Auditoriaspresupuestos.hbm.xml"/>
    <mapping resource="Modelo/Auditoriasordenrep.hbm.xml"/>
    <mapping resource="Modelo/Tareas.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
